
.chat-container {
    margin-left: 25%;
}
.chat-list {
    overflow-y: auto;
    height: calc(100vh - 100px); /* Adjust height based on your header/footer */
    
}

.chat-list a {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.chat-list a:hover, .chat-list a.active {
    background-color: #007bff;
    color: white;
}

.chat-window {
    height: calc(100vh - 100px); /* Adjust height */
    display: flex;
    flex-direction: column;
    /* background: red; */
    max-width: calc(100vh - 200px);
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f8f9fa; /* Light grey background */
}

.chat-messages div {
    margin: 5px;
    margin-bottom: 8px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 10px;
    max-width: 75%;
    font-size: 20px
}

.input-group textarea {
    resize: none; /* Disable textarea resizing */
}

.chat-form textarea {
    width: 100%;
}

.bot-msg {
    color: darkblue;
}