.table {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    vertical-align: middle;
}

.table th {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}
.table th {
    background-color: #f8f9fa;
}

.table .btn-sm {
    padding: 0.45rem 0.6rem;
    font-size: 0.975rem; 
}

.search-div{
    display: flex;
    justify-content: center;
}

.actions {
    margin-left: 85px;
    width: calc(100% - 305px);
    font-size: 22px;
}

.delete {
    opacity: 50%;
}

#searchBox {
    font-size: 22px;
    border-radius: 15px;
    width: 50%
}

#lupa{
    margin-left: 5px;
    font-size: 25px;
    color: #fff;
    border-radius: 20px;
    max-height: 42px;
    width: 45px;
    cursor: pointer;
}

#lupa:hover{
    background: var(--space-cadet);  /* FIXME - Colocar na cor da empresa */
}
