.table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
    vertical-align: middle; /* Alinha o texto e os botões verticalmente */
}

.table th {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}
.table th {
    background-color: #f8f9fa;
}

.table .btn-sm {
    padding: 0.45rem 0.6rem; /* Reduz o padding dos botões para torná-los menores */
    font-size: 0.975rem; /* Tamanho da fonte adequado para botões pequenos */
}

.search-div{
    display: flex;
    justify-content: center;
}

#searchBox {
    font-size: 22px;
    border-radius: 15px;
    width: 50%
}

#lupa{
    margin-left: 5px;
    font-size: 25px;
    background: blueviolet;
    border-radius: 20px;
    max-height: 45px;
    width: 45px;
    cursor: pointer;
}

#lupa:hover{
    background: rgb(90, 14, 161);  /* FIXME - Colocar na cor da empresa */
}
