/* Banner  */

section.banner-section {
    background: var(--indigo-dye);
    padding: 100px 0px;
}

.banner-text h1 {
    color: #FFF;
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 20px;
}

.banner-text p {
    color: #FFF;
    font-size: 30px;
    margin-bottom: 33px;
}

.banner-text {
    max-width:  750px;
    letter-spacing: 1px;
    /* height: calc(10%); */
}


/*  Equipe  */
.team-img {
    border: solid #FFF;
}

/* Dados */

.stats-section {
    background-size: cover !important;
    padding: 100px 0px 70px;

}

.stats-box {
    text-align: center;
    text-decoration: dashed;
    font: #000;
}

.stats-box h2 {
    color: #FFF;
    font-size: 30px;
    margin-top: 20px;
}

.stats-box h3 {
    color: #FFF;
    font-weight: 700;
}