:root{
    --cetacean-blue: #000E2B;
    --indigo-dye: #00456Cff;
    --redwood: #9D5754ff;
    --champagne-pink: #EFE1D7ff;
    --space-cadet: #2B273Eff;
}

body{
	margin:0px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	line-height:28px;
}

.dark {
    background: var(--indigo-dye);
    color: #FFF;
}

/* Chat */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--space-cadet);
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px;
}

.chat-window {
    position: fixed;
    bottom: 110px;
    right: 20px;
    min-width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: var(--space-cadet);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#chat-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.send-chat {
    background-color: var(--space-cadet);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.close-chat {
    cursor: pointer;
}

/* Navbar  */
.navbar {
    background: #FFF;
}

.nav-item, .dropdown-item {
    font-size: 25px;
}

img{
	max-width:100%;
}

p{
    font-size: 22px;
}

.btn {
    font-size: 16px;
    padding: 10px 22px;
}

.right-img {
    background: red;
}

/* Footer */
footer {
    padding: 80px;
    color: #FFF;
}

.footer-menu ul {
    margin: 0px;
    padding: 0px;
}

.footer-menu ul li{
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    list-style: none;
}

.footer-menu ul li a{
    color: #FFF;
    text-decoration: none;
}

ul.footer-social {
    margin: 20px 0px 0px;
    padding: 0px;
}

ul.footer-social li {
    list-style: none;
    display: inline-flex;
}

ul.footer-social li a {
    width: 30px;
    height: 30px;
    background: #FFF;
    text-align: center;
    line-height: 30px;
    color: #000;
    border-radius: 30%;
    margin-right: 8px;
}

ul.footer-social li a:hover {
    background: var(--cetacean-blue);
    color: #FFF;
} 

.input-group {
    max-width: 400px;
}

.input-group button {
    padding: 9px 33px;
    border: 2px solid #FFF;
    background: var(--cetacean-blue);
    color: #FFF;
}