:root{
    --cetacean-blue: #000E2B;
    --indigo-dye: #00456Cff;
    --redwood: #9D5754ff;
    --champagne-pink: #EFE1D7ff;
    --space-cadet: #2B273Eff;
}


.nav-link, .dropdown-item {
    font-size: 25px;
}

.container-lg{
    max-width: 1600px;
    background: #fff;
}


