:root{
    --cetacean-blue: #000E2B;
    --indigo-dye: #00456Cff;
    --redwood: #9D5754ff;
    --champagne-pink: #EFE1D7ff;
    --space-cadet: #2B273Eff;
}

body{
	margin:0px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	line-height:28px;
}

.dark {
    background: var(--indigo-dye);
    color: #FFF;
}

/* Navbar  */
.navbar {
    background: var(--champagne-pink);
}

.nav-item, .dropdown-item {
    font-size: 25px;
}

img{
	max-width:100%;
}


header {
    background: var(--champagne-pink);
}

/* Banner  */

section.banner-section {
    background: var(--indigo-dye);
    padding: 100px 0px;
}

.banner-text h1 {
    color: #FFF;
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 20px;
}

.banner-text p {
    color: #FFF;
    font-size: 22px;
    margin-bottom: 33px;
}

.banner-text {
    max-width: 541px;
}

.btn {
    font-size: 16px;
    padding: 10px 22px;
}

.right-img {
    background: red;
}