<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acordo de Privacidade - VetClin </title>
    <link rel="icon" type="image/x-icon" href="./static/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="./static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>	
</head>
<header>
    {% include './contents/navbar.html' %}
</header>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4 title">Acordo de Privacidade da VetClin</h1>
        <p>Na VetClin, estamos comprometidos em proteger a segurança e a privacidade dos dados pessoais que coletamos de nossos clientes. Este acordo detalha nossas práticas de coleta, uso e proteção de suas informações pessoais.</p>

        <h2 class="text-center subtitle">Coleta de Dados</h2>
        <ul>
            <li><strong>Informações Pessoais:</strong> Coletamos informações pessoais básicas, como seu nome, endereço, número de telefone e e-mail. Essas informações são necessárias para gerenciar os compromissos de seu pet e para entrar em contato com você sobre assuntos importantes relacionados ao seu animal de estimação.</li>
            <br>
            <li><strong>Informações do Pet:</strong> Coletamos informações sobre seu pet, incluindo nome, espécie, raça, idade e histórico médico. Estas informações são usadas para oferecer cuidados personalizados e adequados às necessidades específicas de seu animal.</li>
        </ul>

        <h2 class="text-center subtitle">Uso de Dados</h2>
        <ul>
            <li><strong>Agendamento e Gestão de Consultas:</strong> Usamos suas informações para agendar e gerenciar consultas, enviar lembretes de vacinação ou check-ups e informá-lo sobre mudanças em horários ou serviços disponíveis.</li>
            <br>
            <li><strong>Melhoria de Serviços:</strong> Podemos usar as informações coletadas para melhorar nossos serviços e oferecer tratamentos mais adequados ao seu pet.</li>
            <br>
            <li><strong>Comunicações de Marketing:</strong> Com sua permissão, podemos usar suas informações de contato para enviar promoções, novidades sobre nossos serviços e outras comunicações de marketing que possam ser de seu interesse.</li>
        </ul>

        <h2 class="text-center subtitle">Segurança dos Dados</h2>
        <ul>
            <li><strong>Proteção de Dados:</strong> Implementamos medidas de segurança técnicas e administrativas robustas para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição.</li>
            <br>
            <li><strong>Acesso Restrito:</strong> Apenas funcionários autorizados têm acesso às informações pessoais dos clientes, e este acesso é limitado ao necessário para desempenhar suas funções relacionadas ao atendimento e cuidado dos pets.</li>
            <br>
            <li><strong>Parceiros de Confiança:</strong> Não compartilhamos suas informações com terceiros, exceto conforme necessário para fornecer nossos serviços e sempre em conformidade com políticas de privacidade rigorosas.</li>
        </ul>

        <h2 class="text-center subtitle">Direitos do Cliente</h2>
        <ul>
            <li><strong>Acesso e Correção:</strong> Você tem o direito de acessar e corrigir suas informações pessoais a qualquer momento. Se desejar atualizar seus dados ou remover seu nome de nossas listas de comunicação, por favor, entre em contato com nossa secretaria.</li>
            <br>
            <li><strong>Consentimento:</strong> Seu consentimento para coletar e usar suas informações é voluntário e você tem o direito de retirá-lo a qualquer momento.</li>
        </ul>

        <h2 class="text-center subtitle">Alterações no Acordo de Privacidade</h2>
        <p>Este acordo de privacidade pode ser atualizado periodicamente para refletir mudanças em nossas práticas de privacidade. Encorajamos os clientes a revisarem periodicamente esta página para as informações mais recentes sobre nossas práticas de privacidade.</p>

        <h2 class="text-center subtitle">Contato</h2>
        <p>Para perguntas ou preocupações sobre este acordo de privacidade, ou para exercer seus direitos relacionados aos seus dados pessoais, por favor, entre em contato conosco através do e-mail <b>administrativo@saudeanimal.com</b> ou pelo telefone <b> (16) 99324-8125</b>.</p>
    </div>

    
    {% include './contents/chat-secretaria.html' %}

    <footer class="dark">
        {% include './contents/footer.html'%}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="./static/js/script.js"></script>

</body>
</html>