<section class="banner-section">
    <div class="container">
        <div class="row align-items-center">
             <div class="col-md-6">
                 <div class="banner-text">
                     <h1>Teste</h1>
                     <p>Escrever aqui um conteúdo de veterinário. Escrever aqui um conteúdo de veterinário. 
                        Escrever aqui um conteúdo de veterinário. Escrever aqui um conteúdo de veterinário. 
                        Escrever aqui um conteúdo de veterinário. Escrever aqui um conteúdo de veterinário. 
                        Escrever aqui um conteúdo de veterinário. Escrever aqui um conteúdo de veterinário. 
                    </p> 
                     <div class="btn-main">
                         <a class="btn btn-info">Contate-nos</a>
                         <a class="btn btn-warning">Nossos serviços</a>
                     </div>
                  </div>
            </div>
            
            <div class="col-md-6">
                 <div class="banner-img">
                    <img src="../../static/images/cachorrinho.png" alt="">
                </div>
            </div>
            
        </div>
   </div>
</section>