<div id="chat-button" class="chat-button">
    <i class="fa fa-comments" aria-hidden="true"></i>
</div>

<div id="chat-window" class="chat-window">
    <div class="chat-header">
      <h5>Chat com a Secretária</h5>
      <span id="close-chat" class="close-chat">&times;</span>
    </div>
    <div class="chat-body">
        <!-- Mensagens aqui -->
        <div><b>Bot:</b> Antes de começarmos seu atendimento, por favor, me informe seu CPF.</div>
    </div>
    <div class="chat-footer">
      <input type="text" id="chat-input" placeholder="Escreva uma mensagem..." />
      <button id="send-chat" class="send-chat">Enviar</button>
    </div>
</div>