<div class="container">
         <div class="row">
            <div class="col-md-3">
                <div class="footer-col footer-menu">
                     <h3>Sobre</h3>
                      <ul>
                        <li> <a href="">Nossa história</a> </li>
                        <li> <a href="">Visão da Empresa</a> </li>
                        <li> <a href="">Termos e Condições</a> </li>
                        <li> <a href="">Acordo de privacidade</a> </li>
                    </ul>
                     
                </div>
             </div>
             
             
             <div class="col-md-3">
                <div class="footer-col footer-menu">
                     <h3>Serviços</h3>
                      <ul>
                        <li> <a href="">Como agendar</a> </li>
                        <li> <a href="">Garantia de qualidade</a> </li>
                        <li> <a href="">Cancelamentos</a> </li>
                        <li> <a href="">Promoções</a> </li>
                        <li> <a href="">Métodos de Pagamento</a> </li>
                    </ul>
                     
                </div>
             </div>
              
             <div class="col-md-6">
                 <div class="subscribe-form">
                      <h3>Newsletter</h3>
                     <p> Fique por dentro das novidades, campanhas e promoções da Saude Animal®</p>
                     <form>
                        <div class="input-group">
                            <input type="email" class="form-control">
                            <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true" class="confirm-nltr"></i></button>
                         </div>
                     </form>
                     <ul class="footer-social">
                      <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
                           <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i></a>  </li>
                           <li> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>  </li>
                     </ul>
                 </div>
             </div>


             
        </div>
</div>
