<div class="container">
         <div class="row">
            <div class="col-md-3">
                <div class="footer-col footer-menu">
                     <h3>About</h3>
                      <ul>
                        <li> <a href="">History</a> </li>
                        <li> <a href="">Our Team</a> </li>
                        <li> <a href="">Brand Guidelines</a> </li>
                        <li> <a href="">Terms & Condition</a> </li>
                        <li> <a href="">Privacy Policy</a> </li>
                    </ul>
                     
                </div>
             </div>
             
             
             <div class="col-md-3">
                <div class="footer-col footer-menu">
                     <h3>Services</h3>
                      <ul>
                        <li> <a href="">How to Order</a> </li>
                        <li> <a href="">Our Product</a> </li>
                        <li> <a href="">Order Status</a> </li>
                        <li> <a href="">Promo</a> </li>
                        <li> <a href="">Payment Method</a> </li>
                    </ul>
                     
                </div>
             </div>
              
             <div class="col-md-6">
                 <div class="subscribe-form">
                      <h3>Subscribe </h3>
                     <p> Lorem Ipsum available, but the majorit </p>
                     <form>
                        <div class="input-group">
                            <input type="email" class="form-control">
                            <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                         </div>
                     </form>
                     <ul class="footer-social">
                      <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
                           <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i></a>  </li>
                           <li> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>  </li>
                     </ul>
                 </div>
             </div>


             
        </div>
</div>
