<div class="container">
         <div class="row">
            <div class="col-md-3">
                <div class="footer-col footer-menu">
                    <h3>Sobre</h3>
                    <ul class="bullet-footer">
                        <li> <a href="/sobre-nos">História e Visão da Empresa</a> </li>
                        <li> <a href="/privacidade">Acordo de privacidade</a> </li>
                        <li> <a href="/pagamento">Métodos de Pagamento</a> </li>
                    </ul>
                     
                </div>
             </div>
             
             
             <div class="col-md-3">
                <div class="footer-col footer-menu">
                     <h3>Serviços</h3>
                        <ul class="bullet-footer">
                            <li> <a href="/servicos">Nossos serviços</a> </li>
                            <li> <a href="">Como agendar</a> </li>
                            <li> <a href="/servicos#quality">Garantia de qualidade</a> </li>
                            <li> <a href="/pagamento#cancelamento">Política de Cancelamento</a> </li> <!-- Ao clicar, usuário será redirecionado para a página de pagmento, direto para a seção "Cancelamento"-->
                        </ul>
                     
                </div>
             </div>
              
             <div class="col-md-6">
                 <div class="subscribe-form footer-menu">
                    <h3>Newsletter</h3>
                     <p> Fique por dentro das novidades, campanhas e promoções da VetClin - Saúde Animal®</p>
                     <form>
                        <div class="input-group">
                            <input type="email" class="form-control">
                            <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true" class="confirm-nltr"></i></button>
                         </div>
                     </form>
                     <ul class="footer-social">
                      <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
                           <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i></a>  </li>
                           <li> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>  </li>
                     </ul>
                 </div>
             </div>
            
        </div>
</div>
