<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="central brand">
        <img src="./static/images/logo.png" style="width: 100px;">
      </div>
      
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="painel-administrativo?username={{ user }}" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-tachometer" aria-hidden="true"></i><span> Painel Inicial</span>
          </a>
          <a href="/consultas" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-calendar" aria-hidden="true"></i><span> Consultas</span>
          </a>
          <a href="/pets" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-paw" aria-hidden="true"></i><span> Pets</span>
          </a>
          <a href="/clientes" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-user" aria-hidden="true"></i><span> Clientes</span>
          </a>
          <a href="/chat" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-commenting" aria-hidden="true"></i><span> Chat</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-user-md" aria-hidden="true"></i><span> Veterinários</span>
          </a>
        </div>
      </div>


      <div class="position-absolute bottom-0 start-0">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="#" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-cog" aria-hidden="true"></i><span> Configurações</span>
          </a>
          <a href="/adm-login" class="list-group-item list-group-item-action p-3 sidebar-link">
            <i class="fa fa-sign-out" aria-hidden="true"></i><span> Sair</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
</header>